.header{
  color: $white;
  position: absolute;
  z-index: 10;
  width: 100%;
  left: 0;
  top: 0;
  &--sticky{
    position: fixed;
    background-color: $dark-blue-bg;
    .nav__link{
      padding: 10px 0;
    }
  }

  &__wrapper{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #6f7275;

  }
  &__brand{
    display: flex;
    align-items: center;
    @media (max-width: $breakpoint-md){
      display: block;
    }
  }
  &__lang-switcher{
    margin-left: 30px;
    align-self: stretch;
    display: flex;
    align-items: stretch;
    @media (max-width: $breakpoint-md){
      margin-left: 0;
    }
  }
}

.brand{
  display: inline-block;
  text-transform: uppercase;
  @media (max-width: $breakpoint-md){
    padding: 5px 0 10px;
  }

  &__title{
    font-size: 20px;
    @include font-family('Roboto Regular', normal, normal);
    span{
      @include font-family('Roboto Medium', normal, normal);
    }
  }
  &--header{
    color: $white;
    .brand__title{
      padding-left: 65px;
      position: relative;
      @media (max-width: $breakpoint-md){
        padding-left: 60px;
      }

      &:before{
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        width: 40px;
        height: 2px;
        background-color: $white;
      }
      &:after{
        content: '';
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 26px;
        height: 2px;
        background-color: $white;
      }
    }
  }
  &--footer{
    color: $black;
  }
  &:hover{
    text-decoration: none;
  }
}

.lang-switcher{
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: stretch;

  &__lang{
    display: flex;
    align-items: center;
    margin: 0 10px;
    color: $white;
    opacity: 0.4;
    border-bottom: 1px solid transparent;
    &--active{
      opacity: 1;
      border-bottom: 1px solid $blue;
    }
    &:hover{
      opacity: 1;
      text-decoration: none;
      border-bottom: 1px solid $blue;
    }
  }
}

.nav{
  font-size: 14px;
  color: $white;
  text-transform: uppercase;
  @include font-family('Roboto Regular', normal, normal);

  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    @media (max-width: $breakpoint-xl){
      display: none;
      align-items: center;
      flex-direction: column;
      position: absolute;
      z-index: 2;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $dark-blue-bg;
    }
    &.nav__list--shown{
      display: flex;
    }
  }
  &__item{
    padding: 0 20px;
    @media (max-width: $breakpoint-xl){
      padding: 0;
    }
    &:last-of-type{
      padding-right: 0;
      .nav__link{
        padding-right: 0;
      }
    }

    &--active{
      .nav__link{
        opacity: 1;
        border-bottom: 1px solid $blue;
        @media (max-width: $breakpoint-xl){
          border-bottom: none;
        }
      }
    }
  }
  &__link{
    opacity: 0.4;
    color: inherit;
    display: inline-block;
    padding: 30px 5px 25px;
    border-bottom: 1px solid transparent;
    &:hover{
      opacity: 1;
      text-decoration: none;
      border-bottom: 1px solid $blue;
      @media (max-width: $breakpoint-xl){
        border-bottom: none;
      }
    }
    @media (max-width: $breakpoint-xl){
      width: 100%;
      text-align: center;
      padding: 10px 0;
    }
  }


  &__hamburger{
    display: none;
    @media (max-width: $breakpoint-xl){
      display: block;
    }
  }
}



.hamburger{
  display: inline-block;
  padding: 17px 6px 13px;
  border-radius: 3px;
  span{
    display: block;
    width: 20px;
    margin: 0 auto;
    height: 2px;
    background-color: $white;

    &:after, &:before{
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      background-color: $white;
    }
    &:before{
      transform: translateY(-6px);
    }
    &:after{
      transform: translateY(4px);
    }
  }
}
