<!DOCTYPE html>
<html lang="ru">
  <!-- Head-->
  <head>
    <title>T-systems</title>
    <!-- Main Meta information-->
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="T-systems">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/style.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </head>
  <body>
    <!-- Header-->
    <header class="header">
      <div class="container">
        <div class="header__wrapper">
          <div class="header__brand">
            <a class="brand brand--header" href="#">
              <span class="brand__title">Cosmodrom
                <span>Mars</span>
              </span>
            </a>
            <div class="header__lang-switcher">
              <div class="lang-switcher">
                <a class="lang-switcher__lang" href="#">Ru</a>
                <a class="lang-switcher__lang lang-switcher__lang--active" href="#">Eng</a>
              </div>
            </div>
          </div>
          <div class="header__nav">
            <nav class="nav">
              <div class="nav__hamburger">
                <a class="hamburger" href="javascript:void(0);">
                  <span></span>
                </a>
              </div>
              <ul class="nav__list">
                <li class="nav__item">
                  <a class="nav__link" href="#">О космодроме</a>
                </li>
                <li class="nav__item nav__item--active">
                  <a class="nav__link" href="#">Аренда транспорта</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#">Контакты</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <main class="main"></main>
    <!-- Footer-->
    <footer class="footer">
      <div class="container">
        <div class="footer__wrapper">
          <div class="footer__brand">
            <a class="brand brand--footer" href="#">
              <span class="brand__title">Cosmodrom
                <span>Mars</span>
              </span>
            </a>
          </div>
          <a class="up" href="#">Наверх</a>
        </div>
      </div>
    </footer>
    <script src="js/script.min.js"></script>
  </body>
</html>