include ../abstracts/bemto/bemto.pug

// Footer
+b.FOOTER.footer
  .container
    +e.wrapper
      +e.brand
        +b.A.brand.--footer(href="#")
          +e.SPAN.title Cosmodrom
            span Mars

      +b.A.up(href="#") Наверх





